In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from sklearn.metrics import mean_squared_error
from math import sqrt

Set up data model:
(Might need to recreate some of the dataframes from 1.02)

In [16]:
df = pd.read_csv("C:/Users/chris/Documents/Senior_Project/CT_SeniorProject/CrashData_Repo1/data/interim/filtered_dataset.csv")
df_ord = pd.read_csv("C:/Users/chris/Documents/Senior_Project/CT_SeniorProject/CrashData_Repo1/data/external/ORD_Weather.csv")

# create a df to aggreagate the number of crashes per day
df_crashes_per_day = df.groupby("CRASH_DATE").size().reset_index(name="Total_Crashes")
print(df_crashes_per_day.head())



#print(df.head())
#print(df_ord.head())
#df_ord.info()


#df_ord.shape()
#df_ord.info()     # Overview of column types and missing values
#df_ord.describe()   # Summary statistics for numeric columns
#df_ord.isnull().sum()

   CRASH_DATE  Total_Crashes
0  2018-01-01            337
1  2018-01-02            452
2  2018-01-03            383
3  2018-01-04            360
4  2018-01-05            373

In [ ]:
#print(df_ord.head())
#print(df_ord.info())

       STATION                                        NAME  LATITUDE  \
0  USW00094846  CHICAGO OHARE INTERNATIONAL AIRPORT, IL US  41.96017
1  USW00094846  CHICAGO OHARE INTERNATIONAL AIRPORT, IL US  41.96017
2  USW00094846  CHICAGO OHARE INTERNATIONAL AIRPORT, IL US  41.96017
3  USW00094846  CHICAGO OHARE INTERNATIONAL AIRPORT, IL US  41.96017
4  USW00094846  CHICAGO OHARE INTERNATIONAL AIRPORT, IL US  41.96017

   LONGITUDE  ELEVATION        DATE   AWND AWND_ATTRIBUTES  PGTM  \
0  -87.93164      204.8  2018-01-01  10.74             ,,W   NaN
1  -87.93164      204.8  2018-01-02  11.18             ,,W   NaN
2  -87.93164      204.8  2018-01-03  12.30             ,,W   NaN
3  -87.93164      204.8  2018-01-04  12.30             ,,W   NaN
4  -87.93164      204.8  2018-01-05  10.74             ,,W   NaN

  PGTM_ATTRIBUTES  ...  WT04 WT04_ATTRIBUTES  WT05 WT05_ATTRIBUTES  WT06  \
0             NaN  ...   NaN             NaN   NaN             NaN   NaN
1             NaN  ...   NaN             NaN   NaN             NaN   NaN
2             NaN  ...   NaN             NaN   NaN             NaN   NaN
3             NaN  ...   NaN             NaN   NaN             NaN   NaN
4             NaN  ...   NaN             NaN   NaN             NaN   NaN

  WT06_ATTRIBUTES  WT08 WT08_ATTRIBUTES  WT09 WT09_ATTRIBUTES
0             NaN   NaN             NaN   NaN             NaN
1             NaN   NaN             NaN   NaN             NaN
2             NaN   1.0             ,,W   NaN             NaN
3             NaN   NaN             NaN   NaN             NaN
4             NaN   NaN             NaN   NaN             NaN

[5 rows x 46 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2557 entries, 0 to 2556
Data columns (total 46 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          2557 non-null   object
 1   NAME             2557 non-null   object
 2   LATITUDE         2557 non-null   float64
 3   LONGITUDE        2557 non-null   float64
 4   ELEVATION        2557 non-null   float64
 5   DATE             2557 non-null   object
 6   AWND             2556 non-null   float64
 7   AWND_ATTRIBUTES  2556 non-null   object
 8   PGTM             35 non-null     float64
 9   PGTM_ATTRIBUTES  35 non-null     object
 10  PRCP             2557 non-null   float64
 11  PRCP_ATTRIBUTES  2557 non-null   object
 12  SNOW             2557 non-null   float64
 13  SNOW_ATTRIBUTES  2557 non-null   object
 14  SNWD             2556 non-null   float64
 15  SNWD_ATTRIBUTES  2556 non-null   object
 16  TAVG             2557 non-null   int64
 17  TAVG_ATTRIBUTES  2557 non-null   object
 18  TMAX             2557 non-null   int64
 19  TMAX_ATTRIBUTES  2557 non-null   object
 20  TMIN             2557 non-null   int64
 21  TMIN_ATTRIBUTES  2557 non-null   object
 22  WDF2             2556 non-null   float64
 23  WDF2_ATTRIBUTES  2556 non-null   object
 24  WDF5             2551 non-null   float64
 25  WDF5_ATTRIBUTES  2551 non-null   object
 26  WSF2             2556 non-null   float64
 27  WSF2_ATTRIBUTES  2556 non-null   object
 28  WSF5             2551 non-null   float64
 29  WSF5_ATTRIBUTES  2551 non-null   object
 30  WT01             1007 non-null   float64
 31  WT01_ATTRIBUTES  1007 non-null   object
 32  WT02             65 non-null     float64
 33  WT02_ATTRIBUTES  65 non-null     object
 34  WT03             322 non-null    float64
 35  WT03_ATTRIBUTES  322 non-null    object
 36  WT04             35 non-null     float64
 37  WT04_ATTRIBUTES  35 non-null     object
 38  WT05             22 non-null     float64
 39  WT05_ATTRIBUTES  22 non-null     object
 40  WT06             41 non-null     float64
 41  WT06_ATTRIBUTES  41 non-null     object
 42  WT08             437 non-null    float64
 43  WT08_ATTRIBUTES  437 non-null    object
 44  WT09             28 non-null     float64
 45  WT09_ATTRIBUTES  28 non-null     object
dtypes: float64(20), int64(3), object(23)
memory usage: 919.0+ KB
None

Need to rename the columns in the ORD weather dataset for easy understanding.

In [33]:
# Define a dictionary to rename columns
rename_dict = {
    "DATE": "Date",
    "AWND": "Avg_Wind_Speed",
    "PRCP": "Precipitation",
    "SNOW": "Snowfall",
    "SNWD": "Snow_Depth",
    "TAVG": "Avg_Temperature",
    "TMAX": "Max_Temperature",
    "TMIN": "Min_Temperature",
    "WT01": "Fog",
    "WT02": "Heavy_Fog",
    "WT03": "Thunder",
    "WT04": "Ice_Pellets",
    "WT05": "Hail",
    "WT06": "Glaze_Ice",
    "WT08": "Smoke",
    "WT09": "Blowing_Snow",
    "WT10": "Tornado",
    "TSUN": "Total_Sunshine",
}

# Apply renaming to the dataframe
df_ord = df_ord.rename(columns=rename_dict)

Merge the two datasets (df_crashes_per_day and df_ord) based on date. 

Why are we doing this on crashes per day and not indidivual crashes?
- weather applies to the entire day, not just each individ crash
- time series works ebst with aggregated data
- simplify the dataset

In [34]:
# Ensure CRASH_DATE is in datetime format (if not already)
df['CRASH_DATE'] = pd.to_datetime(df['CRASH_DATE'])

# Aggregate total crashes per day
df_crashes_per_day = df.groupby("CRASH_DATE").size().reset_index(name="Total_Crashes")

# Display the first few rows
print(df_crashes_per_day.head())

  CRASH_DATE  Total_Crashes
0 2018-01-01            337
1 2018-01-02            452
2 2018-01-03            383
3 2018-01-04            360
4 2018-01-05            373

In [35]:
df_ord.rename(columns={"DATE": "CRASH_DATE"}, inplace=True)
#df_ord.head()
print(df_ord.columns)

df_crashes_per_day["CRASH_DATE"] = pd.to_datetime(df_crashes_per_day["CRASH_DATE"])
df_ord["CRASH_DATE"] = pd.to_datetime(df_ord["CRASH_DATE"])


# Merge crash data with weather data
df_merged = pd.merge(df_crashes_per_day, df_ord, on="CRASH_DATE", how="left")

# Verify the merged dataset
df_merged.head()

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'CRASH_DATE',
       'Avg_Wind_Speed', 'AWND_ATTRIBUTES', 'PGTM', 'PGTM_ATTRIBUTES',
       'Precipitation', 'PRCP_ATTRIBUTES', 'Snowfall', 'SNOW_ATTRIBUTES',
       'Snow_Depth', 'SNWD_ATTRIBUTES', 'Avg_Temperature', 'TAVG_ATTRIBUTES',
       'Max_Temperature', 'TMAX_ATTRIBUTES', 'Min_Temperature',
       'TMIN_ATTRIBUTES', 'WDF2', 'WDF2_ATTRIBUTES', 'WDF5', 'WDF5_ATTRIBUTES',
       'WSF2', 'WSF2_ATTRIBUTES', 'WSF5', 'WSF5_ATTRIBUTES', 'Fog',
       'WT01_ATTRIBUTES', 'Heavy_Fog', 'WT02_ATTRIBUTES', 'Thunder',
       'WT03_ATTRIBUTES', 'Ice_Pellets', 'WT04_ATTRIBUTES', 'Hail',
       'WT05_ATTRIBUTES', 'Glaze_Ice', 'WT06_ATTRIBUTES', 'Smoke',
       'WT08_ATTRIBUTES', 'Blowing_Snow', 'WT09_ATTRIBUTES'],
      dtype='object')

,CRASH_DATE,Total_Crashes,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,Avg_Wind_Speed,AWND_ATTRIBUTES,PGTM,...,Ice_Pellets,WT04_ATTRIBUTES,Hail,WT05_ATTRIBUTES,Glaze_Ice,WT06_ATTRIBUTES,Smoke,WT08_ATTRIBUTES,Blowing_Snow,WT09_ATTRIBUTES
0,2018-01-01,337,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.96017,-87.93164,204.8,10.74,",,W",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-02,452,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.96017,-87.93164,204.8,11.18,",,W",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-03,383,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.96017,-87.93164,204.8,12.30,",,W",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN
3,2018-01-04,360,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.96017,-87.93164,204.8,12.30,",,W",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-05,373,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",41.96017,-87.93164,204.8,10.74,",,W",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2557 entries, 0 to 2556
Data columns (total 47 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CRASH_DATE       2557 non-null   datetime64[ns]
 1   Total_Crashes    2557 non-null   int64
 2   STATION          2557 non-null   object
 3   NAME             2557 non-null   object
 4   LATITUDE         2557 non-null   float64
 5   LONGITUDE        2557 non-null   float64
 6   ELEVATION        2557 non-null   float64
 7   Avg_Wind_Speed   2556 non-null   float64
 8   AWND_ATTRIBUTES  2556 non-null   object
 9   PGTM             35 non-null     float64
 10  PGTM_ATTRIBUTES  35 non-null     object
 11  Precipitation    2557 non-null   float64
 12  PRCP_ATTRIBUTES  2557 non-null   object
 13  Snowfall         2557 non-null   float64
 14  SNOW_ATTRIBUTES  2557 non-null   object
 15  Snow_Depth       2556 non-null   float64
 16  SNWD_ATTRIBUTES  2556 non-null   object
 17  Avg_Temperature  2557 non-null   int64
 18  TAVG_ATTRIBUTES  2557 non-null   object
 19  Max_Temperature  2557 non-null   int64
 20  TMAX_ATTRIBUTES  2557 non-null   object
 21  Min_Temperature  2557 non-null   int64
 22  TMIN_ATTRIBUTES  2557 non-null   object
 23  WDF2             2556 non-null   float64
 24  WDF2_ATTRIBUTES  2556 non-null   object
 25  WDF5             2551 non-null   float64
 26  WDF5_ATTRIBUTES  2551 non-null   object
 27  WSF2             2556 non-null   float64
 28  WSF2_ATTRIBUTES  2556 non-null   object
 29  WSF5             2551 non-null   float64
 30  WSF5_ATTRIBUTES  2551 non-null   object
 31  Fog              1007 non-null   float64
 32  WT01_ATTRIBUTES  1007 non-null   object
 33  Heavy_Fog        65 non-null     float64
 34  WT02_ATTRIBUTES  65 non-null     object
 35  Thunder          322 non-null    float64
 36  WT03_ATTRIBUTES  322 non-null    object
 37  Ice_Pellets      35 non-null     float64
 38  WT04_ATTRIBUTES  35 non-null     object
 39  Hail             22 non-null     float64
 40  WT05_ATTRIBUTES  22 non-null     object
 41  Glaze_Ice        41 non-null     float64
 42  WT06_ATTRIBUTES  41 non-null     object
 43  Smoke            437 non-null    float64
 44  WT08_ATTRIBUTES  437 non-null    object
 45  Blowing_Snow     28 non-null     float64
 46  WT09_ATTRIBUTES  28 non-null     object
dtypes: datetime64[ns](1), float64(20), int64(4), object(22)
memory usage: 939.0+ KB

In [37]:
# check to see if there are any missing values
print(df_merged.isnull().sum())

CRASH_DATE            0
Total_Crashes         0
STATION               0
NAME                  0
LATITUDE              0
LONGITUDE             0
ELEVATION             0
Avg_Wind_Speed        1
AWND_ATTRIBUTES       1
PGTM               2522
PGTM_ATTRIBUTES    2522
Precipitation         0
PRCP_ATTRIBUTES       0
Snowfall              0
SNOW_ATTRIBUTES       0
Snow_Depth            1
SNWD_ATTRIBUTES       1
Avg_Temperature       0
TAVG_ATTRIBUTES       0
Max_Temperature       0
TMAX_ATTRIBUTES       0
Min_Temperature       0
TMIN_ATTRIBUTES       0
WDF2                  1
WDF2_ATTRIBUTES       1
WDF5                  6
WDF5_ATTRIBUTES       6
WSF2                  1
WSF2_ATTRIBUTES       1
WSF5                  6
WSF5_ATTRIBUTES       6
Fog                1550
WT01_ATTRIBUTES    1550
Heavy_Fog          2492
WT02_ATTRIBUTES    2492
Thunder            2235
WT03_ATTRIBUTES    2235
Ice_Pellets        2522
WT04_ATTRIBUTES    2522
Hail               2535
WT05_ATTRIBUTES    2535
Glaze_Ice          2516
WT06_ATTRIBUTES    2516
Smoke              2120
WT08_ATTRIBUTES    2120
Blowing_Snow       2529
WT09_ATTRIBUTES    2529
dtype: int64

In [ ]:
# Handle missing values

# One missing snow value... assume 0 snowfall
df_merged["Snow_Depth"].fillna(0, inplace=True)

# One missing windspeed value... assume 0 wind
df_merged["Avg_Wind_Speed"].fillna(0, inplace=True)

# The weather events are stored as a binary flag (1 = event occurred, 0 = event did not occur)
weather_event_columns = ["Fog", "Heavy_Fog", "Thunder", "Ice_Pellets", "Hail", "Glaze_Ice", "Smoke", "Blowing_Snow"]
for col in weather_event_columns:
    print(f"{col}: {df_merged[col].unique()}")

# Fill missing weather event values with 0
df_merged[weather_event_columns] = df_merged[weather_event_columns].fillna(0)

print(df_merged.isnull().sum()) #check that the important variables are not missing

Fog: [0. 1.]
Heavy_Fog: [0. 1.]
Thunder: [0. 1.]
Ice_Pellets: [0. 1.]
Hail: [0. 1.]
Glaze_Ice: [0. 1.]
Smoke: [0. 1.]
Blowing_Snow: [0. 1.]
CRASH_DATE            0
Total_Crashes         0
STATION               0
NAME                  0
LATITUDE              0
LONGITUDE             0
ELEVATION             0
Avg_Wind_Speed        0
AWND_ATTRIBUTES       1
PGTM               2522
PGTM_ATTRIBUTES    2522
Precipitation         0
PRCP_ATTRIBUTES       0
Snowfall              0
SNOW_ATTRIBUTES       0
Snow_Depth            0
SNWD_ATTRIBUTES       1
Avg_Temperature       0
TAVG_ATTRIBUTES       0
Max_Temperature       0
TMAX_ATTRIBUTES       0
Min_Temperature       0
TMIN_ATTRIBUTES       0
WDF2                  1
WDF2_ATTRIBUTES       1
WDF5                  6
WDF5_ATTRIBUTES       6
WSF2                  1
WSF2_ATTRIBUTES       1
WSF5                  6
WSF5_ATTRIBUTES       6
Fog                   0
WT01_ATTRIBUTES    1550
Heavy_Fog             0
WT02_ATTRIBUTES    2492
Thunder               0
WT03_ATTRIBUTES    2235
Ice_Pellets           0
WT04_ATTRIBUTES    2522
Hail                  0
WT05_ATTRIBUTES    2535
Glaze_Ice             0
WT06_ATTRIBUTES    2516
Smoke                 0
WT08_ATTRIBUTES    2120
Blowing_Snow          0
WT09_ATTRIBUTES    2529
dtype: int64

C:\Users\chris\AppData\Local\Temp\ipykernel_61812\2873861122.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_merged["Snow_Depth"].fillna(0, inplace=True)
C:\Users\chris\AppData\Local\Temp\ipykernel_61812\2873861122.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_merged["Avg_Wind_Speed"].fillna(0, inplace=True)

Set up prophet:

In [ ]:
from prophet import Prophet

# Initialize Prophet model
model = Prophet(yearly_seasonality=True, weekly_seasonality=True)

# Add external regressors (e.g., precipitation and temperature)
model.add_regressor("Precipitation")
model.add_regressor("Avg_Temperature")

# Fit the model (ensure df_prophet includes these columns)
model.fit(df_prophet)

# Make future dataframe (must include regressor values!)
future = model.make_future_dataframe(periods=365)
future["Precipitation"] = df_prophet["Precipitation"].values  # Use historical weather or predicted values
future["Avg_Temperature"] = df_prophet["Avg_Temperature"].values

# Forecast
forecast = model.predict(future)